BasicWebServerLibSol/.idea/.idea.BasicWebServerLibSol/riderModule.iml
BasicWebServerLibSol/.idea/.idea.BasicWebServerLibSol/.idea/contentModel.xml
BasicWebServerLibSol/.idea/.idea.BasicWebServerLibSol/.idea/indexLayout.xml
BasicWebServerLibSol/.idea/.idea.BasicWebServerLibSol/.idea/modules.xml
BasicWebServerLibSol/.idea/.idea.BasicWebServerLibSol/.idea/vcs.xml
BasicWebServerLibSol/.idea/.idea.BasicWebServerLibSol/.idea/workspace.xml
BasicWebServerLibSol/BasicWebServerLib/bin/Debug/BasicWebServerLib.dll
BasicWebServerLibSol/BasicWebServerLib/bin/Debug/BasicWebServerLib.pdb
BasicWebServerLibSol/BasicWebServerLib/bin/Debug/Newtonsoft.Json.dll
BasicWebServerLibSol/BasicWebServerLib/bin/Debug/Newtonsoft.Json.xml
BasicWebServerLibSol/BasicWebServerLib/bin/Release/BasicWebServerLib.dll
BasicWebServerLibSol/BasicWebServerLib/bin/Release/BasicWebServerLib.pdb
BasicWebServerLibSol/BasicWebServerLib/bin/Release/Newtonsoft.Json.dll
BasicWebServerLibSol/BasicWebServerLib/bin/Release/Newtonsoft.Json.xml
BasicWebServerLibSol/BasicWebServerLib/obj/Debug/BasicWebServerLib.csproj.CopyComplete
BasicWebServerLibSol/BasicWebServerLib/obj/Debug/BasicWebServerLib.csproj.CoreCompileInputs.cache
BasicWebServerLibSol/BasicWebServerLib/obj/Debug/BasicWebServerLib.csproj.FileListAbsolute.txt
BasicWebServerLibSol/BasicWebServerLib/obj/Debug/BasicWebServerLib.csprojAssemblyReference.cache
BasicWebServerLibSol/BasicWebServerLib/obj/Debug/BasicWebServerLib.dll
BasicWebServerLibSol/BasicWebServerLib/obj/Debug/BasicWebServerLib.pdb
BasicWebServerLibSol/BasicWebServerLib/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BasicWebServerLibSol/BasicWebServerLib/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BasicWebServerLibSol/BasicWebServerLib/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BasicWebServerLibSol/BasicWebServerLib/obj/Release/BasicWebServerLib.csproj.CopyComplete
BasicWebServerLibSol/BasicWebServerLib/obj/Release/BasicWebServerLib.csproj.CoreCompileInputs.cache
BasicWebServerLibSol/BasicWebServerLib/obj/Release/BasicWebServerLib.csproj.FileListAbsolute.txt
BasicWebServerLibSol/BasicWebServerLib/obj/Release/BasicWebServerLib.csprojAssemblyReference.cache
BasicWebServerLibSol/BasicWebServerLib/obj/Release/BasicWebServerLib.dll
BasicWebServerLibSol/BasicWebServerLib/obj/Release/BasicWebServerLib.pdb
BasicWebServerLibSol/BasicWebServerLib/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
BasicWebServerLibSol/BasicWebServerLib/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
BasicWebServerLibSol/BasicWebServerLib/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
BasicWebServerLibSol/packages/Newtonsoft.Json.12.0.2/.signature.p7s
BasicWebServerLibSol/packages/Newtonsoft.Json.12.0.2/LICENSE.md
BasicWebServerLibSol/packages/Newtonsoft.Json.12.0.2/Newtonsoft.Json.12.0.2.nupkg
BasicWebServerLibSol/packages/Newtonsoft.Json.12.0.2/lib/net20/Newtonsoft.Json.dll
BasicWebServerLibSol/packages/Newtonsoft.Json.12.0.2/lib/net20/Newtonsoft.Json.xml
BasicWebServerLibSol/packages/Newtonsoft.Json.12.0.2/lib/net35/Newtonsoft.Json.dll
BasicWebServerLibSol/packages/Newtonsoft.Json.12.0.2/lib/net35/Newtonsoft.Json.xml
BasicWebServerLibSol/packages/Newtonsoft.Json.12.0.2/lib/net40/Newtonsoft.Json.dll
BasicWebServerLibSol/packages/Newtonsoft.Json.12.0.2/lib/net40/Newtonsoft.Json.xml
BasicWebServerLibSol/packages/Newtonsoft.Json.12.0.2/lib/net45/Newtonsoft.Json.dll
BasicWebServerLibSol/packages/Newtonsoft.Json.12.0.2/lib/net45/Newtonsoft.Json.xml
BasicWebServerLibSol/packages/Newtonsoft.Json.12.0.2/lib/netstandard1.0/Newtonsoft.Json.dll
BasicWebServerLibSol/packages/Newtonsoft.Json.12.0.2/lib/netstandard1.0/Newtonsoft.Json.xml
BasicWebServerLibSol/packages/Newtonsoft.Json.12.0.2/lib/netstandard1.3/Newtonsoft.Json.dll
BasicWebServerLibSol/packages/Newtonsoft.Json.12.0.2/lib/netstandard1.3/Newtonsoft.Json.xml
BasicWebServerLibSol/packages/Newtonsoft.Json.12.0.2/lib/netstandard2.0/Newtonsoft.Json.dll
BasicWebServerLibSol/packages/Newtonsoft.Json.12.0.2/lib/netstandard2.0/Newtonsoft.Json.xml
BasicWebServerLibSol/packages/Newtonsoft.Json.12.0.2/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.dll
BasicWebServerLibSol/packages/Newtonsoft.Json.12.0.2/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.xml
BasicWebServerLibSol/packages/Newtonsoft.Json.12.0.2/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.dll
BasicWebServerLibSol/packages/Newtonsoft.Json.12.0.2/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.xml
